{% extends "layout.html" %}

{% block main %}

<div style="text-align: center">
    <p class="paragraph1 display-6"> 
        Discover New Recipe!
    </p>
    <h6 class="container">
        Retreive one of thousands up to date recipes that will take into account your current profile settings. You can always configure your diet or allergy restrictions in your profile tab accessible from top right hamburger menu. When searching for a new recipe you can input an optional cusine type to narrow recipes to a certain country / culture such as American or Chinese. Leave cusine type blank and you can get a new dish from any country / culture.
    </h6>
    
    <form action ="/getrecipe" method ="post">
        <div action ="/getrecipe" method ="post" class="container" >
            <input class="form-control mx-auto w-auto savebutton" type="text" placeholder="Cuisine type filter" aria-label="Search" name="cuisine">
            <button type="submit" class="btn btn-primary savebutton" id="main" name="main">New Main Dish</button>
            <button type="submit" class="btn btn-primary savebutton" id="desert" name="desert">New Desert</button>
            <button type="submit" class="btn btn-primary savebutton" id="suprise" name="suprise">Suprise me!</button>
        </div>
    </form>
</div>


{% endblock %}