{% extends "layout.html" %}

{% block main %}
<nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="#">Food for You</a>
    </div>
</nav>

<form action ="/login" method ="post" class="position-absolute top-50 start-50 translate-middle needs-validation" novalidate>
  <div class="row mb-3">
    <div class="form-outline">
      <input type="username" class="form-control" name="username" placeholder="Username" id="validationCustom01" required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="form-outline">
      <input type="password" class="form-control" name="password" placeholder="Password" id="validationCustom02" required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Enter a password.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary cstbutton" style="text-align: center;">Login</button>
</form>

<script>
  (() => {
    'use strict';
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach((form) => {
      form.addEventListener('submit', (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
  </script>

{% endblock %}

