{% extends "layout.html" %}

{% block main %}

<div class="alert alert-primary d-flex align-items-center row mb-3 alert1" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
     Error while connecting to server, unable to get current allergies. Please refresh page / try again.
    </div>
</div>

<div>
    <p class="paragraph1 display-6"> 
        {{user}}'s Food Profile Settings
    </p>
    <form action ="/profile" method ="post">
        <div action ="/profile" method ="post" class="container" >
            <div class="container accordion2">
                <div class="row align-items-start">
                  <div class="col">
                    <div class="title">
                        Allergies
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dairy" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Dairy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="peanut" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Peanut
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gluten" value="" id="defaultCheck3">
                        <label class="form-check-label" for="defaultCheck3">
                            Gluten
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="egg" value="" id="defaultCheck4">
                        <label class="form-check-label" for="defaultCheck5">
                            Egg
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="seafood" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Seafood
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="grains" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Grains
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="shellfish" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Shellfish
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="sesame" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Sesame
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="treenut" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck2">
                            Tree Nutt
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="soy" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck2">
                            Soy
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="wheat" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck2">
                            Wheat
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="corn" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck2">
                            Corn
                        </label>
                    </div>
                  </div>
                  <div class="col">
                    
                  </div>
                  <div class="col">
                    <div class="title">
                      Diet
                  </div>
                  <div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault1" value="ketogenic">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Keto
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="glutenfree">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Gluten-free
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="vegetarian">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Vegetarian
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="vegan">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Vegan
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="paleo">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Paleo
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="primal">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Primal
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="diet" id="flexRadioDefault2" value="whole30">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Whole30
                          </label>
                      </div>
                  </div>
              </div>
                </div>
              </div>
          </div>
            
            <button type="submit" class="btn btn-primary position-absolute start-50 translate-middle-x">Save</button>
        </div>
    
    </form>
</div>


{% endblock %}