{% extends "layout.html" %}

{% block main %}

<form action ="/register" method ="post" class="position-absolute top-50 start-50 translate-middle needs-validation" novalidate oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
  <div class="alert alert-success d-flex align-items-center row mb-3 alert1" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/>
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
    </svg>
  <div>
   New user created successfully!
  </div>
  <div class="text-center">
    <button type="submit" name="newlogin" id="newlogin" class="btn btn-light">Login</button>
  </div>  
  </div>

    <div class="row mb-3">
      <div class="form-outline">
        <input type="username" class="form-control" name="username" placeholder="Username" id="validationCustom01" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-outline">
        <input type="password" class="form-control" name="password" placeholder="Password" id="validationCustom02" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please choose a password.</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-outline" id = validationCustom003>
        <input type="password" class="form-control" name="password2" placeholder="Verify Password" id="validationCustom03" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a matching password.</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary cstbutton" style="text-align: center;">Register</button>
</form>

<script>
  (() => {
    'use strict';
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach((form) => {
      form.addEventListener('submit', (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
  </script>


{% endblock %}